# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/*
pids
*.pid
temp_auto_push.bat
*.seed
*.pid.lock

# Build output
dist/
build/

# IDE / Editor
.idea/
*.swp
.DS_Store

# Coverage (tests)
coverage/

# Others
tmp/
.cache/
.vercel
.gitignore
temp_interactive_push.bat
